<ion-view title="" id="page8">
  <ion-content padding="true" class="has-header" id="">
    <form id="cadastreSe-form3" class="list">
      <label class="item item-input input_cadastro_nome" id="cadastreSe-input6">
        <span class="input-label">Nome:</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input input_cadastro" id="cadastreSe-input7">
        <span class="input-label">E-email:</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <form id="cadastreSe-form4" class="list">
      <ion-radio id="cadastreSe-radio3" name="sexo" style="color: #4585b7 !important;"><span class="txt_sexo_color">Masculino</span></ion-radio>
      <ion-radio id="cadastreSe-radio4" name="sexo"><span class="txt_sexo_color">Feminino</span></ion-radio>
      <label class="item item-input input_peso" id="cadastreSe-input8">
        <span class="input-label">Peso:</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input input_peso" id="cadastreSe-input9">
        <span class="input-label">Dt. Nasc:</span>
        <input type="date" placeholder="">
      </label>
    </form>
    <div style="margin-right:-20px;">
      <button id="cadastreSe-button9" style="left:-10px;" class="button button-positive button-full icon-left ion-android-checkbox">Gravar dados</button>
    </div>
    <div id="cadastreSe-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:12px;">Os dados pessoais permaneçerão em sigilo, exceto se você os compartilhar.</p>
    </div>
    <div id="cadastreSe-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:9px;">Sobre o seu peso, ajuda a melhorar suas estatísticas de queima de caloria.</p>
    </div>
  </ion-content>
</ion-view>
