<ion-view  title="Nossos especialistas" id="page9">
  <ion-content ng-controller="PopupCtrl" padding="true" class="has-header" id="content_cadastro">
  
   <article ng-click="showAlert()" class="mw5 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
	<div class="tc">
		<img class="br-100 h4 w4 dib ba b--black-05 pa2" src="img/corradi.jpg" title="Photo of a kitty staring at you">
		<h1 class="f3 mb2">G. Corradi.</h1>
		<h2 class="f5 fw4 gray mt0">Médico do Esporte e Diretor Geral</h2>
	</div>
       
</article>
    
      <article class="mw5 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
	<div class="tc">
		<img class="br-100 h4 w4 dib ba b--black-05 pa2" src="img/corradi.jpg" title="Photo of a kitty staring at you">
		<h1 class="f3 mb2">G. Corradi.</h1>
		<h2 class="f5 fw4 gray mt0">Médico do Esporte e Diretor Geral</h2>
	</div>
       
</article>
      <article class="mw5 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
	<div class="tc">
		<img class="br-100 h4 w4 dib ba b--black-05 pa2" src="img/corradi.jpg" title="Photo of a kitty staring at you">
		<h1 class="f3 mb2">G. Corradi.</h1>
		<h2 class="f5 fw4 gray mt0">Médico do Esporte e Diretor Geral</h2>
	</div>
       
</article>
      <article class="mw5 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
	<div class="tc">
		<img class="br-100 h4 w4 dib ba b--black-05 pa2" src="img/corradi.jpg" title="Photo of a kitty staring at you">
		<h1 class="f3 mb2">G. Corradi.</h1>
		<h2 class="f5 fw4 gray mt0">Médico do Esporte e Diretor Geral</h2>
	</div>
       
</article>
  </ion-content>
</ion-view>